################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Documents/01. CSharp-Advanced-Stacks-and-Queues-Lab.docx
*.docx
/Documents
/Defining Classes - Lab/CarManufacturer/bin/Debug
/Defining Classes - Lab/CarManufacturer/obj/Debug
